 <div id="logged-in" class="page">
    <div id="accordion" class="accordion">
        
            <div class="link">
                <div id="text">
                  <%= image_tag "logo.svg", alt: "logo", :id => "logo"%>
                  <h1 id="title">CashOnly</h1>
                </div>
                <i class="fa fa-chevron-down"></i>
            </div>
            <div class="submenu">
              <button type="submit" id="stop-location-tracking">Stop Location Tracking</button>
              <div id="logout" >Log out</div>
          </div>
        
    </div>
    <div id="welcome"><h1>Welcome</h1></div>
    <div><button id="take" class="init-request" onclick="location.href='/req'">Request Cash</button></div>
    <div><button id="give" class="init-request" onclick="setTimeout(function(){document.location.href='/give_cash';},2000)">Have Cash</button></div>
</div>