<div id="give-cash-page" class="page">
    <!-- user photo
    user names needs $5 cash
    map -->
    <div id="recipient-photo">
    	<%= image_tag "Erin.jpg", alt: "recipient-photo", :id => "recipient-photo" %>
        <div id="give-cash-wrapper"><h2 id="give-cash-title">Erin needs $5!</h2></div>
    </div>
    <div id='map-container'>
    	<div id="map-canvas"></div>
    </div>
    <button type="submit" id="gave-cash-btn">Exchange Complete!</button>
    <button type="submit" id="cancel-give-btn" onclick="location.href='/account'">Cancel</button>
</div>