<div id="cash-request-page" class="page">
    <i class="fa fa-times" onclick="location.href='/req'"></i>
    <div id="wrapper">
		<div id="dollar">$</div>
	    <form action="/venmo" method="post" id="venmo-form">
	        <input  type="text" id="money" class="text-box" >
	        <button type="submit" id="request-cash" class="need_request" >Request</button>
	    </form>
    </div>
    <button type="submit" id="cancel_request" class="need_request" onclick="location.href='/account'">Cancel</button>
</div>