<div id="cash-request-page" class="page">
    <i class="fa fa-times" onclick="$('#logged-in').fadeIn('slow'); $('#cash-request-page').fadeOut('slow');"></i>
    <div id="dollar">$</div>
    <form id="money-form">
        <input type="text" class="text-box" >
        <button type="submit" id="request-cash" style="display:none" class="request"><a href="/account">Confirm Request</a></button>
    </form>

</div>