<div id="cash-request-page" class="page">
    <i class="fa fa-times" onclick="$('#logged-in').fadeIn('slow'); $('#cash-request-page').fadeOut('slow');"></i>
    <div id="dollar">$</div>
    <form action="/need_cash" method="post" id="money-form">
        <input  type="text" id="money" class="text-box" >
        <button type="submit" id="request-cash" style="display:none" class="request">Search</button>
    </form>

</div>