body {
    background-color: #452463; 
}

.page {
    width: 104%;
    margin-left:-1.7%;
    height: 99vh;
}

#home {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: space-between;
}

.front {
    align-self:flex-end;
    font-family: 'Raleway', sans-serif;
    color: white;
    width: 47%;
    margin-bottom: 2%;
    border-style: none;
    border-radius: 5px;
    height: 8vh;
    font-size: 24px;
}

#login-button {
    background-color: #602F89;
    margin-right: 2%;
}

#signup-button {
    background-color: #7E53A2;
    margin-left: 2%;
}

#title-logo {
    align-self: center;
    text-align: center;
    font-size: 100%;
    color: white;
    width: 103%;
}

#title-wrapper {
    background-color: #602F89;
    padding-top: 3%;
    height: 10vh;
    display: flex;
    align-items:center;
    margin-top: -3%;
}

#title {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    padding-left: 5%;
    font-family: 'Raleway', sans-serif;
}

#logo {
    padding-top: 30%;
    width: 30%;
}

#signup-form {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

#login-form {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

.box {
    margin-top: 2px;
    padding: 4%;
    font-size: 20px;
    border-style: none;
    border-radius: 3px;

}

#signup-button-confirm {
    margin-top: 5%;
    background-color: #7E53A2;
    border-style: none;
    border-radius: 5px;
    height: 8vh;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 160%;
    color: white;

}

#login-button-confirm {
    margin-top: 5%;
    background-color: #602F89;
    border-style: none;
    border-radius: 5px;
    height: 8vh;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 160%;
    color: white;

}

.fa {
    color: white;
    font-size: 30px;
}



a:click {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-input-placeholder {
    font-family: 'Raleway', sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
    font-family: 'Raleway', sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-family: 'Raleway', sans-serif;
}

:-ms-input-placeholder { 
    font-family: 'Raleway', sans-serif;
}

.accordion {
  margin-top: -3%;
  background: #602F89;
}

.link {
  height: 8vh;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: white;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#text {
    position: absolute;
    top: 8px;
    left: 15px;
    padding: 0px;
    margin: 0px;
    
}

.accordion div:last-child .link { border-bottom: 0; }

.accordion div i {
  font-size: 24px;
  color: #white;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion div i.fa-chevron-down {
  position: absolute;
  right:15px;
  top: 15px;
  font-size: 20px;
  color: white;
}

.accordion div.open .link { color: white; }

.accordion div.open i { color: white; }

.accordion div.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/


.submenu {
  display: none;
  background: #7E53A2;
  height: 12vh;
  font-size: 14px;
}

.submenu div { border-bottom: 1px solid #7E53A2; }

#logged-in {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: space-between;
}

#logged-in div {
    text-align: center;
}

#request-cash {
    padding: 4%;
    font-size: 20px;
    margin-mottom: -12%;
    background-color: #602F89;
    border-style: none;
    text-align: center;
    height: 8vh;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 160%;
    color: white;
}

#cash-request-page i{
    position: absolute;
    right: 15px;
}

#cash-request-page {
    display: inline-block;
    align-items:center;
}

#dollar {
    font-size: 100px;
    font-family: 'Raleway', sans-serif;
    color: white;
    width: 100px;
    padding: 0px;
    padding-right: 15px;
    margin-left: 45px;
}

.text-box {
    width: 60%;
    padding: 4%;
    font-family: 'Raleway', sans-serif;
    background-color: #7E53A2;
    border:none;
    color: white;
    font-size: 100px;
}

.request{
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
}












