body {
    background-color: #452463; 
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
    color:white;

}

.page {
    width: 460px;
    height: 760px;
}

#home {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;

}

#black-back {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 304px;
  justify-content: center;
}

.front {
    font-family: 'Raleway', sans-serif;
    color: white;
    width: 70%;
    border-style: none;
    border-radius: 7px;
    height: 100px;
    font-size: 30px;
    margin: 15px 0px;
}

#login-button {
    background-color: #602F89;
}

#signup-button {
    background-color: #7E53A2;
}

#title-logo {
    align-self: center;
    text-align: center;
    font-size: 2em;
    color: white;
    width: 103%;
    padding-top: 15px;
}

#title-wrapper {
    background-color: #602F89;
    padding-top: 3%;
    padding-bottom: 14px;
    height: 76px;
    display: flex;
    align-items:center;
    margin-top: -14px;
}

#people-image-container {
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);   /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#text {
    background-color: #602F89;
    padding-top: 14px;
    height: 10vh;
    display: flex;
    align-items:center;
    margin-top: -14px;
}

#title {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    padding-left: 5%;
    font-family: 'Cookie', sans-serif;
}

#people {
    padding-top: 5%;
    width: 100%;
    opacity: .29;
}

#logo {
    width: 60px;
    padding-left: 30px;
}

#signup-form {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

#login-form {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

.box {
    margin-top: 2px;
    padding: 4%;
    font-size: 20px;
    border-style: none;
    border-radius: 3px;

}

#signup-button-confirm {
    margin-top: 5%;
    background-color: #7E53A2;
    border-style: none;
    border-radius: 5px;
    height: 8vh;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 160%;
    color: white;

}

#login-button-confirm {
    margin-top: 5%;
    background-color: #602F89;
    border-style: none;
    border-radius: 5px;
    height: 8vh;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 160%;
    color: white;

}

::-webkit-input-placeholder {
    font-family: 'Raleway', sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
    font-family: 'Raleway', sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-family: 'Raleway', sans-serif;
}

:-ms-input-placeholder { 
    font-family: 'Raleway', sans-serif;
}

.accordion {
  background-color: #602F89;
  padding-top: 14px;
  padding-bottom: 14px;
  height: 91px;
  margin-top: -14px;
}

.link {
  background-color: #602F89;
  padding-top: 44px;
  height: 10vh;
  display: flex;
  align-items:center;
  margin-top: -14px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#text {
    padding-top: 21px;

    #logo {
      padding-left: 8px;
      padding-right: 11px;
    }

    h1{
      font-size: 64px;
    }
}


.accordion div:last-child .link { border-bottom: 0; }

.accordion div i {
  font-size: 30px;
  color: #white;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

div i.fa-chevron-down {
  position: absolute;
  right:15px;
  top: 40px;
  margin-top: 24px;
  font-size: 20px;
  color: white;
}

.accordion div.open .link { color: white; }

.accordion div.open i { color: white; }

div.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/


.submenu {
  display: none;
  background: #7E53A2;
  height: 12vh;
  font-size: 14px;
}

.submenu div { border-bottom: 1px solid #7E53A2; }














