body {
    background-color: #452463; 
}

a{
    text-decoration: none;
    color:white;

}

.page {
    width: 104%;
    margin-left:-1.7%;
    height: 99vh;
}

#home {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: space-between;
}

.front {
    align-self:flex-end;
    font-family: 'Raleway', sans-serif;
    color: white;
    width: 47%;
    margin-bottom: 2%;
    border-style: none;
    border-radius: 5px;
    height: 8vh;
    font-size: 24px;
}

#login-button {
    background-color: #602F89;
    margin-right: 2%;
}

#signup-button {
    background-color: #7E53A2;
    margin-left: 2%;
}

#title-logo {
    align-self: center;
    text-align: center;
    font-size: 100%;
    color: white;
    width: 103%;
}

#title-wrapper {
    background-color: #602F89;
    padding-top: 3%;
    height: 10vh;
    display: flex;
    align-items:center;
    margin-top: -3%;
}

#title {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    padding-left: 5%;
    font-family: 'Raleway', sans-serif;
}

#logo {
    padding-top: 30%;
    width: 30%;
}














