#signup-form {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

#login-form {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

.box {
    margin-top: 2px;
    padding: 4%;
    font-size: 20px;
    border-style: none;
    border-radius: 3px;

}

#signup-button-confirm {
    margin-top: 5%;
    background-color: #7E53A2;
    border-style: none;
    border-radius: 5px;
    height: 8vh;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 160%;
    color: white;

}

#login-button-confirm {
    margin-top: 5%;
    background-color: #602F89;
    border-style: none;
    border-radius: 5px;
    height: 8vh;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 160%;
    color: white;

}

.fa {
    color: white;
    font-size: 30px;
}


::-webkit-input-placeholder {
    font-family: 'Raleway', sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
    font-family: 'Raleway', sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-family: 'Raleway', sans-serif;
}

:-ms-input-placeholder { 
    font-family: 'Raleway', sans-serif;
}

.accordion {
  margin-top: -3%;
  background: #602F89;
}

.link {
  height: 8vh;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: white;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#text {
    position: absolute;
    top: 8px;
    left: 15px;
    padding: 0px;
    margin: 0px;
    
}

.accordion div:last-child .link { border-bottom: 0; }

.accordion div i {
  font-size: 24px;
  color: #white;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion div i.fa-chevron-down {
  position: absolute;
  right:15px;
  top: 15px;
  font-size: 20px;
  color: white;
}

.accordion div.open .link { color: white; }

.accordion div.open i { color: white; }

.accordion div.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/


.submenu {
  display: none;
  background: #7E53A2;
  height: 12vh;
  font-size: 14px;
}

.submenu div { border-bottom: 1px solid #7E53A2; }

#logged-in {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: space-between;
}

#logged-in div {
    text-align: center;
}

.need_request {
    padding: 4%;
    background-color: #602F89;
    border-style: none;
    text-align: center;
    height: 8vh;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 160%;
    color: white;
}

#venmo-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; 
}

#request-cash {
  width: 100%;
}

#cancel_request {
  position: absolute;
  bottom: 0px;
  padding: 4%;
  background-color: #602F89;
  border-style: none;
  text-align: center;
  height: 8vh;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 160%;
  color: white;

#map-container {
   height: 400px;
   border-radius: 16px 16px;
   border-color: #fff;
   border-style: solid;
   box-shadow: 2px 2px 10px #B1B1B1;
   margin-top: 25px;
   border-width: 7px;
 }
 
 #map-canvas {
   height: 384px;
   width: 100%;
 }

#gave-cash-btn {
    padding: 4%;
    font-size: 20px;
    margin-mottom: -12%;
    background-color: #602F89;
    border-style: none;
    text-align: center;
    height: 8vh;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 160%;
    color: white;
}

#cancel-give-btn {
    padding: 4%;
    font-size: 20px;
    margin-mottom: -12%;
    background-color: #602F89;
    border-style: none;
    text-align: center;
    height: 8vh;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 160%;
    color: white;
}

#cash-request-page i{
    position: absolute;
    right: 15px;
}

#cash-request-page {
    display: flex;
    flex-direction: column;
}

#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

#dollar {
    align-self: center;
    font-size: 80px;
    font-family: 'Raleway', sans-serif;
    color: white;
    width: 100px;
    height: 100px;
    padding: 0px;
}

.text-box {
    width: 40%;
    padding: 4%;
    font-family: 'Raleway', sans-serif;
    background-color: #7E53A2;
    border:none;
    color: white;
    font-size: 80px;
}

.request{
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
}